.Mainmiddle{
    width: 100%;
}

.submiddle{
    width: 80%;
    margin: auto;
    margin-top: 138px;
    text-align: center;
    cursor: pointer;
}



@media screen and (max-width: 500px)  {
   
    .box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}