.Checkout{
    margin-top: 150px;
    
}

.Checkoutheading{
 width: 80%;
 margin: auto;
 text-align: left;
 font-size: 30px;
 margin: 5px auto;
 padding: 10px;
}
.Checkoutmain{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.data{
    width: 50%;
   
}
.checkoutcart{
    
  
    width: 50%;
    margin: auto;

}

.map{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 700px;
    padding: 8px;
    border: 3px dotted black;
    border-radius: 10px;
    margin: 50px auto;
    
}
.image{
    width: 200px;
    height: 200px;
}
.singledata{
    text-align: left;
    width: 50%;
}
.singledata,p,b,div>Button{
    padding: 5px;
    margin: 2px 7px 7px;
}
.Bread{
    margin: auto;
    width: 80%;
    text-align: left;
}
.div1{
    width: 80%;
    padding: 30px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    border: 3px dotted black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.Allprices{

    border: 3px dotted black;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}
.total{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 25px auto;
}
.singlbuttons{
    margin: auto;
    text-align: center;
}

.singlbuttons>button{
    
    display:block;
    width: 90%;
    height: 60px;
    padding: 15px;
    margin: 20px auto;
    font-size: 30px;
    font-family: sans-serif;
    
}

.empty{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
}